/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

mat-icon.size-36 {
  font-size: 36px;
  height: 36px;
  width: 36px;
}
